<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="com.zpy.mapper.StudentMapper">

    <!-- resultMap标签:映射实体与表
         type属性：表示实体全路径名
         id属性：为实体与表的映射取一个任意的唯一的名字
    -->
    <resultMap type="com.zpy.po.Student" id="studentMap">
        <id property="studentId" column="student_id"/>
        <result property="studentName" column="student_name"/>
        <result property="studentAge" column="student_age"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="selectOne" resultMap="studentMap">
        select * from student where student_id = #{studentId}
    </select>

</mapper>
